<p id="notice"><%= notice %></p>

<p>
  <strong>Income source:</strong>
  <%= @income.income_source %>
</p>

<p>
  <strong>Income amount:</strong>
  <%= @income.income_amount %>
</p>

<p>
  <strong>Income date:</strong>
  <%= @income.income_date %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
